[submodule "site-lisp/use-package"]
        path = site-lisp/use-package
        url = https://github.com/jwiegley/use-package.git
[submodule "site-lisp/zenburn-theme"]
        path = site-lisp/zenburn-theme
        url = https://github.com/emacsmirror/zenburn-theme.git
[submodule "site-lisp/magit"]
        path = site-lisp/magit
        url = https://github.com/magit/magit
[submodule "site-lisp/yasnippet"]
        path = site-lisp/yasnippet
        url = https://github.com/jwiegley/yasnippet
[submodule "site-lisp/scss-mode"]
        path = site-lisp/scss-mode
        url = https://github.com/antonj/scss-mode
[submodule "site-lisp/inf-ruby"]
        path = site-lisp/inf-ruby
        url = https://github.com/nonsequitur/inf-ruby
[submodule "site-lisp/yari"]
        path = site-lisp/yari
        url = https://github.com/hron/yari.el
[submodule "site-lisp/springboard"]
        path = site-lisp/springboard
        url = https://github.com/jwiegley/springboard
[submodule "site-lisp/ace-jump-mode"]
        path = site-lisp/ace-jump-mode
        url = https://github.com/winterTTr/ace-jump-mode
[submodule "site-lisp/jump-char"]
        path = site-lisp/jump-char
        url = https://github.com/lewang/jump-char
[submodule "site-lisp/expand-region"]
        path = site-lisp/expand-region
        url = https://github.com/magnars/expand-region.el
[submodule "site-lisp/auto-complete"]
        path = site-lisp/auto-complete
        url = https://github.com/m2ym/auto-complete
[submodule "site-lisp/popup"]
        path = site-lisp/popup
        url = https://github.com/m2ym/popup-el
[submodule "site-lisp/fuzzy"]
        path = site-lisp/fuzzy
        url = https://github.com/auto-complete/fuzzy-el
[submodule "site-lisp/perspective"]
        path = site-lisp/perspective
        url = https://github.com/magnars/perspective-el
[submodule "site-lisp/undo-tree"]
        path = site-lisp/undo-tree
        url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "site-lisp/autopair"]
        path = site-lisp/autopair
        url = https://github.com/capitaomorte/autopair
[submodule "site-lisp/auctex"]
        path = site-lisp/auctex
        url = git://github.com/jwiegley/auctex.git
[submodule "site-lisp/ruby-tools"]
        path = site-lisp/ruby-tools
        url = git://github.com/rejeep/ruby-tools.git
[submodule "site-lisp/haml-mode"]
        path = site-lisp/haml-mode
        url = https://github.com/nex3/haml-mode.git
[submodule "site-lisp/markdown-mode"]
        path = site-lisp/markdown-mode
        url = git://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/yaml-mode"]
        path = site-lisp/yaml-mode
        url = https://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/exec-path-from-shell"]
        path = site-lisp/exec-path-from-shell
        url = https://github.com/purcell/exec-path-from-shell.git
[submodule "site-lisp/multiple-cursors"]
        path = site-lisp/multiple-cursors
        url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/coffee-mode"]
        path = site-lisp/coffee-mode
        url = https://github.com/defunkt/coffee-mode.git
[submodule "site-lisp/haskell-mode"]
        path = site-lisp/haskell-mode
        url = https://github.com/haskell/haskell-mode
[submodule "site-lisp/helm"]
        path = site-lisp/helm
        url = https://github.com/emacs-helm/helm.git
[submodule "site-lisp/solarized-emacs"]
        path = site-lisp/solarized-emacs
        url = https://github.com/bbatsov/solarized-emacs.git
[submodule "site-lisp/js2-mode"]
        path = site-lisp/js2-mode
        url = https://github.com/mooz/js2-mode
[submodule "site-lisp/ruby-test-mode"]
        path = site-lisp/ruby-test-mode
        url = https://github.com/r0man/ruby-test-mode.git
[submodule "site-lisp/helm-git"]
        path = site-lisp/helm-git
        url = https://github.com/maio/helm-git.git
[submodule "site-lisp/ruby-end"]
        path = site-lisp/ruby-end
        url = https://github.com/rejeep/ruby-end.git
[submodule "site-lisp/color-theme-sanityinc-tomorrow"]
        path = site-lisp/color-theme-sanityinc-tomorrow
        url = https://github.com/purcell/color-theme-sanityinc-tomorrow.git
[submodule "site-lisp/mmm-mode"]
        path = site-lisp/mmm-mode
        url = https://github.com/purcell/mmm-mode.git
[submodule "site-lisp/graphviz-dot-mode"]
        path = site-lisp/graphviz-dot-mode
        url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule "site-lisp/emacs-powerline"]
        path = site-lisp/emacs-powerline
        url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "site-lisp/emacs-slim"]
        path = site-lisp/emacs-slim
        url = https://github.com/slim-template/emacs-slim.git
[submodule "site-lisp/git-modes"]
        path = site-lisp/git-modes
        url = https://github.com/lunaryorn/git-modes
[submodule "site-lisp/web-mode"]
        path = site-lisp/web-mode
        url = https://github.com/fxbois/web-mode.git
[submodule "site-lisp/paredit"]
        path = site-lisp/paredit
        url = https://github.com/emacsmirror/paredit
[submodule "site-lisp/flycheck"]
        path = site-lisp/flycheck
        url = https://github.com/flycheck/flycheck.git
[submodule "site-lisp/s"]
        path = site-lisp/s
        url = https://github.com/magnars/s.el
[submodule "site-lisp/dash"]
        path = site-lisp/dash
        url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/f"]
        path = site-lisp/f
        url = https://github.com/rejeep/f.el
[submodule "site-lisp/pkg-info"]
        path = site-lisp/pkg-info
        url = https://github.com/lunaryorn/pkg-info.el.git
[submodule "site-lisp/projectile"]
        path = site-lisp/projectile
        url = https://github.com/bbatsov/projectile.git
[submodule "site-lisp/flx"]
        path = site-lisp/flx
        url = https://github.com/lewang/flx
[submodule "site-lisp/ack-and-a-half"]
        path = site-lisp/ack-and-a-half
        url = https://github.com/jhelwig/ack-and-a-half
[submodule "site-lisp/chruby.el"]
        path = site-lisp/chruby.el
        url = https://github.com/plexus/chruby.el.git
[submodule "site-lisp/ag.el"]
        path = site-lisp/ag.el
        url = https://github.com/Wilfred/ag.el.git
[submodule "site-lisp/rspec-mode"]
        path = site-lisp/rspec-mode
        url = https://github.com/pezra/rspec-mode.git
[submodule "site-lisp/ruby-refactor"]
        path = site-lisp/ruby-refactor
        url = https://github.com/ajvargo/ruby-refactor.git
[submodule "site-lisp/fill-column-indicator"]
	path = site-lisp/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "site-lisp/smartparens"]
	path = site-lisp/smartparens
	url = https://github.com/bbatsov/smartparens.git
